<!--<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>-->
<div class="block">
  <h3>Searches</h3>
  <ul class="navigation">
    <li><a href="#">All Tickets Assigned to Me</a></li>
    <li><a href="#">All Open Bugs</a></li>
    <li><a href="#">All Bugs in QA</a></li>
    <li><a href="#">All Tasks in QA</a></li>
  </ul>
</div>