/* Override here any style defined by web-app-theme */

.pagination span.current {
  background: #afafaf;
}

#title-right {
  position: absolute;
  top: 30px;
  right: 25px;
  font-size: 12px;
  color: #FFF;
}